//primary
$light-red: hsl(356, 100%, 66%); // (cta text)
$very-light-red: hsl(355, 100%, 74%); //(cta hover background)
$very-dark-blue: hsl(208, 49%, 24%); //(headings)

//secondary
$white: #ffffff; // (text)
$grayish-blue: #c8c8cb; // (footer text)
$very-dark-grayish-blue: #4b5862; //(body copy)
$very-dark-black-blue: #25252d; //(footer background)

//background gradient - intro/cta mobile nav:

$very-light-red: #ff8f70;
$light-red: #ff3d54;

//background gradient - body:

$very-dark-gray-blue: #2c2d3f;
$very-dark-desaturated-blue: #3f4164;

//font-weights

//overpass
$light: 300;
$bold: 600;

//ubuntu
$regular: 400;
$medium: 500;
$extrabold: 700;
